.footer-container {
  background-color: var(--nav-background);
  color: var(--text-primary);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  /*  position: absolute;
  bottom: 0;
  width: 100%; */
}

.footer-text {
  font-weight: 500;
  font-size: 0.8em;
  display: inline-block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
