.homeDiv {
  color: var(--text-secondary);
  width: 70%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeDiv-img {
  width: 40%;
}

.homeDiv-img > img {
  width: 80%;
}

.homeDiv-titles {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.homeDiv-titles > h2 {
  font-size: 2.6em;
  font-weight: 800;
}

.homeDiv-titles > h3 {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.bright-bttn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-arrow {
  color: var(--button-bright);
  font-size: 1.8em;
  margin: auto;
  display: inline-block;
}

.homepage-arrow:hover {
  color: var(--green-light);
  transform: translateY(0.2rem);
  cursor: pointer;
}

.home-cont-pink,
.home-cont-white,
.home-cont-green {
  background-color: #4c1a4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.home-flags-cont {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 30%;
  margin: 0 auto;
}

.home-flag {
  width: 5%;
}

.card-macro-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 0;
}

.categoriesDiv {
  text-decoration: none;
  background-color: var(--background);
  color: var(--text-primary);
  font-weight: bold;
  border-radius: 1.5rem;
  width: 13rem;
  height: 15rem;
  /* padding: 2rem;
  margin: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: transform 0.7s ease-in-out; */
}

.categoriesDiv:hover {
  /* transform: rotate(-3deg); */
  animation: wobble 1.5s infinite normal linear;
  background-color: var(--accent);
  box-shadow: 0px 0px 6px var(--border);
}

@keyframes wobble {
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

.categories {
  width: 10vw;
  margin: 1vw;
  text-decoration: none;
  color: var(--text-primary);
}

.categoriesPic {
  height: 10em;
  max-width: 80%;
}

.home-cont-white {
  background-color: var(--background);
  padding: 3rem;
}

.home-cont-green {
  background-color: #264f1a;
  padding: 3rem;
}

.flex-row {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.topMargin {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.cardOuterDiv {
  /* height: min-content; */
  /* width: min-content; */
  background-color: var(--background);
  border-radius: 1.5rem;
  width: 13rem;
  height: 15rem;
  margin: 1.5rem;
}

.cat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cat-container {
  font-size: 1.1em;
}
