.localDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarBig {
  max-height: 18rem;
  max-width: 18rem;
  border-radius: 25%;
  /* padding: 1rem; */
  margin: 1.5rem 3rem;
}

.localDetailDiv {
  background-color: var(--background);
  color: var(--text-primary);
  width: 48rem;
  border-radius: 25px;
  margin: 4rem;
  padding: 1rem;
  text-align: center;
  /* margin-top: 4rem; */
}

.bioInfo {
  /* margin: 0 3rem 0 1.5rem; */
  margin: 1.5rem 3rem 1.5rem 0;
  text-align: justify;
}

.offers {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.offersInnerDiv {
  display: grid;
  grid-template-columns: 1.1fr 2fr 0.2fr;
  align-items: center;
}

.first-section {
  display: flex;
  justify-content: space-between;
}

.textend {
  text-align: end;
}

.textstart {
  text-align: start;
}

.starsList {
  background-color: var(--background);
  border-radius: 5px;
  overflow-y: scroll;
  max-height: 6rem;
}

.starsListLi {
  display: grid;
}

.review {
  padding: 0 3rem 0 0;
}

.reviewText {
  font-style: italic;
}

.reviewer {
  font-weight: bold;
  text-align: center;
}

.starsList p {
  margin: 0;
}
