.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.localFormDiv {
  background-color: var(--background);
  color: var(--text-primary);
  width: 48rem;
  border-radius: 25px;
  margin: 3vh;
  padding: 1rem;
  text-align: center;
}
.bio {
  height: 50px;
  border-radius: 5%;
}

.price {
  width: 45px;
}
