/* Local Info Page */

.first-section {
  display: flex;
}

.offers {
  display: flex;
  justify-content: space-around;
}

.button-contact {
  display: flex;
  justify-content: center;
}

.reviews {
  display: flex;
  justify-content: center;
}

.review {
  display: flex;
  align-content: space-between;
}
.button-review {
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  background: lightblue;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.contact-button {
  width: 170px;
  height: 40px;
  border: none;
  outline: none;
  background: lightblue;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
