.localDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarBig {
  height: 18rem;
  width: 18rem;
  border-radius: 25%;
  /* padding: 1rem; */
  margin: 1.5rem 3rem;
  /* size: cover; */
  /* overflow: hidden; */
}

.localDetailDiv {
  background-color: var(--background);
  color: var(--text-primary);
  width: 48rem;
  border-radius: 25px;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
  /* margin-top: 4rem; */
}

.bioInfo {
  /* margin: 0 3rem 0 1.5rem; */
  margin: 1.5rem 3rem 1.5rem 0;
  text-align: justify;
}

.offers {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.offersInnerDiv {
  display: grid;
  grid-template-columns: 1.2fr 2fr 0.3fr;
  align-items: center;
}

.first-section {
  display: flex;
  justify-content: space-between;
}

.textend {
  text-align: end;
}

.textstart {
  text-align: start;
}

.starsList {
  background-color: var(--background);
  overflow-y: scroll;
  max-height: 6rem;
}

/* .reviews {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
} */

.review {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.reviewText {
  font-style: italic;
}

.reviewer {
  font-weight: bold;
}

.starsListDiv {
  display: grid;
  grid-template-columns: 0.8fr 2fr 0.1fr;
  align-items: center;
}

.starsList p {
  margin: 0;
}

.addStar::after {
  content: "\2605";
  color: #d4af37;
}
