.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  color: var(--text-primary);
  font-weight: 500;
  position: sticky;
  left: 5vw;
  top: 1rem;
  width: 90%;
  height: 6rem;
  opacity: 95%;
  z-index: 10;
  border-radius: 5rem;

  /* box-shadow: 0px 0px 15px var(--border); */
}

.navbarTwo {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.imgNavbar {
  width: 70%;
  fill: var(--nav-background);
  margin-left: 2.5rem;
}

.nav-logo-link:visited,
:active {
  fill: var(--nav-background);
}

.navLinks {
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  color: var(--text-primary);
  text-decoration: none;
  /* position: relative; */
  border-radius: 25px;
  /*  background-color: var(--background); */
}

.navLinks:hover,
.logo:hover {
  text-decoration: none;
  background-color: var(--button-secondary-hover);
  border-radius: 10px;
  cursor: pointer;
}

.nav-local-bttn {
  background-color: var(--button-primary);
  font-size: 1.1rem;
  margin: 0 0.5rem;
  color: var(--button-primary-text);
  padding: 0.8rem 0.5rem;
  border-radius: 25px;
}

#toggledark {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 30px;
  margin: 0 15px 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-secondary);
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 3px var(--border);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-primary);
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  transform: translateY(-13px);
}

.active {
  color: var(--active-link);
  font-weight: 700;
}

a {
  color: var(--text-primary);
}

#main-nav-drop-cont {
  position: relative;
  /* right: 0.5rem; */
  border: none;
}

#main-nav-drop-menu {
  position: absolute;
  font-size: 1em;
  top: 3.4rem;
  right: 0.3rem;
  list-style-type: none;
  border-radius: 10px;
  border: none;
  background-color: var(--button-primary);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.nav-local-drop {
  padding: 0.5em 2em 0.5em 0.5em;
  color: #f3f3f1;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  width: 90%;
}

.nav-local-drop:hover {
  color: var(--green-light);
}

.responsive-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  gap: 0.2rem;
}

.nav-bttn {
  cursor: pointer;
  color: var(--text-primary);
  padding: 0.5rem 0.5rem 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  height: 2em;
}

.mobile-bttn-cont {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .mobile-bttn-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .responsive-nav {
    position: fixed;
    justify-content: center;
    top: -8rem;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    background-color: var(--nav-background);
    color: var(--text-primary);
  }

  .responsive-nav-logged {
    position: fixed;
    justify-content: center;
    top: -8rem;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    background-color: var(--nav-background);
    color: var(--text-primary);
  }

  .visible-nav {
    top: 7.5rem;
    padding: 0.3rem;
    border-radius: 25px;
  }

  .visible-nav-logged {
    top: 7.5rem;
    padding: 0.3rem;
    border-radius: 25px;
  }

  .nav-local-bttn,
  .navLinks {
    font-size: 0.8rem;
    text-align: center;
  }

  #toggledark {
    width: 20%;
  }

  #main-nav-drop-menu {
    top: 3.5rem;
    right: 0.3rem;
  }
  /*   .navbar {
    align-items: flex-start;
    padding-top: 2rem;
  }  */

  /*   .extended-nav {
    height: 10rem;
  } */
}

@media only screen and (max-width: 600px) {
  .responsive-nav {
    position: fixed;
    justify-content: center;
    top: -8rem;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    background-color: var(--nav-background);
    color: var(--text-primary);
  }

  .visible-nav {
    top: 7.5rem;
    padding: 0.3rem;
    border-radius: 25px;
  }

  .nav-local-bttn {
    padding: 0.3em;
  }

  #toggledark {
    width: 30%;
  }

  #main-nav-drop-menu {
    top: 3.5rem;
    right: 0.3rem;
  }
  /*   .navbar {
    align-items: flex-start;
    padding-top: 2rem;
  }  */

  /*   .extended-nav {
    height: 10rem;
  } */
}
