.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 0.9em;
  position: sticky;
  left: 5vw;
  top: 3rem;
  width: 90vw;
  height: 5rem;
  opacity: 95%;
  z-index: 10;
  border-radius: 5rem;
  /* box-shadow: 0px 0px 15px var(--border); */
}

.navbarTwo {
  display: flex;
}

/* svg {
  color: var(--green--dark);
} */

.navLinks {
  font-size: 1.3em;
  padding: 2px 10px;
  color: var(--text-primary);
  text-decoration: none;
  position: relative;
  border-radius: 25px;
  margin: 0 10px;
  /*  background-color: var(--background); */
}

.navLinks:hover,
.logo:hover {
  color: var(--text-secondary);
  text-decoration: none;
  background-color: var(--accent);
  box-shadow: 0 0 50px var(--accent);
  cursor: pointer;
}

#toggledark {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 30px;
  margin: 0 15px 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 3px var(--border);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-primary);
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  transform: translateY(-13px);
}

a.active {
  color: var(--text-secondary);
}

#main-nav-drop-cont {
  position: relative;
  /* right: 0.5rem; */
  border: none;
}

#main-nav-drop-menu {
  position: absolute;
  font-size: 0.8em;
  top: 2.5rem;
  right: 0.5rem;
  list-style-type: none;
  border: 1px solid var(--border);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.nav-local-drop {
  padding: 0.4em;
}
