.post-macro-cont {
  width: 58em;
  display: flex;
  flex-direction: column;
}

.postDisplay {
  background-color: var(--background);
  border-radius: 2em;
  margin: 2em;
  overflow: hidden;
}

.postDisplay {
  overflow: hidden;
}

.postDisplayInner {
  overflow-y: scroll;
  height: 37em;
}

.postDisplayInner::-webkit-scrollbar {
  width: 1em;
}

.postDisplayInner::-webkit-scrollbar-thumb {
  border-radius: 2em;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: var(--button-bright);
}

.postDisplayInner::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background-color: var(--button-bright); */
}

.cat-avatarSmall {
  height: 8em;
  width: 8em;
  border-radius: 25px;
  margin-left: 0;
}

.cat-nameCity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8em;
  gap: 0.4em;
}

.cat-nameCity > p {
  margin: 0;
}

.cat-message {
  /* width: 45%; */
  font-style: italic;
  margin: 1em;
}

.cat-price {
  font-size: 1em;
  border-left: 1px solid var(--border);
  padding: 0 1em;
}

.cat-label {
  background-color: var(--button-primary);
  color: var(--red--light);
  border-radius: 2em;
  padding: 0.5em;
  text-align: center;
  font-weight: 600;
  margin: none;
}

.postDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.55fr;
  width: 90%;
  background-color: var(--background);
  color: var(--text-primary);
  justify-content: start;
  align-items: center;
  text-decoration: none;
  margin: 0.5em auto;
}

.postDiv:hover {
  background-color: var(--button-primary);
  color: var(--button-primary-text);
  /*color: var(--text-secondary);*/
  border-radius: 2em;
  /*box-shadow: 0 0 50px var(--accent); */
}

.absolute {
  position: absolute;
}

.sort {
  display: flex;
  justify-content: end;
  padding-top: 0.5em;
  margin-right: 1em;
}

.sortArrows {
  display: flex;
  justify-content: end;
  margin-left: 0px;
}

.postDisplayArrows {
  /* display: block; */
  color: var(--button-bright);

  font-size: 1.5em;
  margin-left: 0.1em;
}

.postDisplayArrows:hover {
  color: aqua;
  color: var(--green-light);
  transform: translateY(0.2em);
  cursor: pointer;
}
