.home-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.home-search-cont {
  display: flex;
  margin: 1.5em 0;
  width: 75%;
}

.search-icon {
  background-color: var(--background);
  color: var(--text-primary);
  height: 3rem;
  border-radius: 5px 0 0 5px;
  padding: 0 1em;
}

.search-input {
  background-color: var(--background);
  color: var(--text-primary);
  border: none;
  width: 85%;
  border-radius: 0 5px 5px 0;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.search-input::placeholder {
  opacity: 9;
  color: var(--recurring-text);
}

.dropdown-container {
  cursor: pointer;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 8em;
  height: 3rem;
  background-color: var(--background);
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}
/* .wrapper {
  width: 50rem;
} 

.search-input {
  color: var(--text-primary);
  border: 1px solid var(--background);
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 0 0 8px white;
  width: 20rem;
  /* padding: 3px 16px 3px 3px; 
  height: 1.5rem;
  outline: 0;
  background-color: #676767;
}

.clear-icon {
  position: absolute;
  top: 36px;
  right: 138px;
  width: 10px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}



select:focus {
  border-color: var(--accent);
}

.options {
  background-color: var(--accent);
}
*/
