.footer-container {
  background-color: #1e2330;
  color: var(--button-primary-text);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  position: absolute;
  bottom: 0;
  width: 100%; */
}

.footer-text {
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  margin: 0 auto;
}
